game-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: lightskyblue;
}

.arena {
    position: relative;
    width: calc(~'100vw - 60px');
    height: calc(~'100vh - 60px');
    background-color: black;
    pointer-events: auto;
    overflow: hidden;
}
