.puck {
    background-color: slategray;
    position: absolute;
    // left: calc(~'50% - 5vw');
    // top: 75%;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    cursor: pointer;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
